---
// Reviews.astro
// Использование правильного пути к аватару: ../../assets/img/carousel/1.webp

const reviews = [
    {
        "author": "Галина Морозова",
        "date": "19 июля 2025 г.",
        "text": "Уважаемая команда косметологического центра Жемчужина! Позвольте выразить вам искреннюю благодарность за прекрасное поздравление с моим Днем Рождения! Было очень приятно и неожиданно получить ваше внимание в этот день. Отдельное огромное спасибо за замечательный подарок – скидку на услуги в честь праздника! Это не только выгодно, но и по-настоящему трогательно, когда о клиентах помнят и радуют их такими приятными бонусами. Я высоко ценю ваш профессионализм, заботу и такой индивидуальный подход. Это еще раз подтверждает, что я сделала правильный выбор, доверяя свою красоту и уход вашему центру! Спасибо вам за создание такой приятной атмосферы и внимание к деталям! Обязательно воспользуюсь вашим щедрым подарком в ближайшее время. С уважением и благодарностью, Галина"
    },
    {
        "author": "Лариса Орешенкова",
        "date": "23 июня 2025 г.",
        "text": "Впервые была на приеме у Ирины Игоревны, приехала из Луховиц по рекомендации. Очень грамотный специалист! Внимательно выслушала мои пожелания, подобрала домашний уход, проконсультировала по необходимости аппаратных процедур. Всегда на связи и готова помочь. Большое спасибо за Ваш труд и отличную работу!"
    },
    {
        "author": "Юлия Иванова",
        "date": "21 июня 2025 г.",
        "text": "Ирина!!! Профессионал! Своего Дела! И просто Замечательный Человек! Процедуры прошли на 5+ Результат Шикарный!!! P.S.И самое главное,что я нашла специалиста с большой буквы!"
    },
    {
        "author": "Людмила",
        "date": "17 июня 2025 г.",
        "text": "Все прошло хорошо. Александра  Николаевна внимательно и без синяков провела процедуру биоревитализации."
    },
    {
        "author": "Татьяна Г.",
        "date": "23 июля 2024 г.",
        "text": "Я очень боялась « уколов красоты» Долго решалась, пришла на консультацию в Жемчужину. Приятно удивлена атмосфере Центра. Встретили и как то сразу сняли страхи и сомнения. Далее была консультация с доктором. Затем решение начать подготовку в инъекциям. Сейчас уже все позади и я вижу результат работы препаратов рекомендованных доктором. Спасибо большое Ирина Игоревна. Вернусь на уход, а дальше посмотрим."
    },
    {
        "author": "Инна Б.",
        "date": "25 апреля 2024 г.",
        "text": "В Жемчужине выполняю лазерную эпиляцию 3-х зон. Прошла уже 3 сеанса Перед 1 сеансом мастер прочитала небольшую лекцию об этой процедуре, всё подробно рассказала, объяснила. Это очень важно было для меня, т.к я впервые делаю эпиляцию и должна была знать когда будут видны результаты. Наталья квалифицированный, грамотный специалист, знающий своё дело. С ней очень комфортно и незаметно пролетает время. Эффект от процедуры уже заметен, волосков гораздо меньше стало, никаких раздражений на коже не было. Кабинет хорошо оборудован, всё чисто и аккуратно! Буду ходить только к вам!"
    },
    {
        "author": "Ирина Игнатенко",
        "date": "24 апреля 2024 г.",
        "text": "Этот косметолог просто невероятный! Я получила ряд процедур, после которых моя кожа так заметно преобразилась, что я почувствовала себя на 10 лет моложе. Большое спасибо за такую потрясающущую работу. Мой доктор Васильева Ирина Игоревна"
    },
    {
        "author": "Наталья Кирова",
        "date": "19 апреля 2024 г.",
        "text": "Все отлично, искала специалиста к которому бы ходила на постоянной основе. Не страшно было доверить кожу. В профессионализме тоже сомнений не было. Объясняют на каждом этапе процедуры и дают рекомендации. Изначально пришла на чистку лица, по итогу решила пройти необходимое лечение у данного специалиста и привести своего молодого человека. Рада, что попала к этому специалисту! Доктор Васильева Ирина Игоревна"
    },
    {
        "author": "Валентина Прохорова",
        "date": "28 марта 2024 г.",
        "text": "Много лет хожу в Жемчужину. Потому что доверяю. Доверяю Ольге Николаевне, доверяю докторам. Ни каких глупых расспросов. С уважением к возрасту, с любовью к профессии. Только процветания!"
    },
    {
        "author": "Надежда Кудинова",
        "date": "27 марта 2024 г.",
        "text": "Пришла в Жемчужину по рекомендации подруги. Она уже более 10 лет приходит в Жемчужину за красотой, наблюдала за ней и решила тоже прийти. Ее доктор Васильева Ирина Игоревна. На ресепшн очень внимательная девушка все подробно рассказала и записала меня на приём. Ирина Игоревна очень внимательный доктор, убрала все мои страхи, расписали программу омоложения кожи. Сделали уже несколько процедур. Я довольна и все делают мне комплименты ."
    },
    {
        "author": "Кульшина Елена",
        "date": "14 марта 2024 г.",
        "text": "Я очень трепетно и серьезно отношусь к своему здоровью, поэтому решив сделать лазерную эпиляцию искала центр с медицинской лицензией, современным лазером. Очень обрадовалась, когда узнала, что Жемчужина приобрела такой аппарат. Записалась на услугу в комплексе, приятно удивила скидка 50% на первую процедуру. И самое главное и неожиданно, хотя слышала о таком результате - волосы ушли практически сразу. Без боли и так эффективно, ждала четыре недели, сделала вторую процедуру и очень довольна результатом. Думаю к лету будет гладкая, чистая кожа."
    },
    {
        "author": "Татьяна Кузнецова",
        "date": "26 февраля 2024 г.",
        "text": "Искала специалиста по массажу лица, рекомендовали Наталью Пирогову. Массаж понравился очень , инъекции пока рано а очень хочется привести себя в порядок. Решили сделать чистку и массаж . Обязательно вернусь."
    },
    {
        "author": "Лариса Щербакова",
        "date": "26 февраля 2024 г.",
        "text": "Хотела поставить нити APTOS. Живу в Москве. Прозвонила клиники, достаточно дорого оказалось. Решила поискать в Коломне, так, как здесь живет сестра. Она рекомендовала доктора Александру Чижову. Предварительно проконсультировалась, обсудили стоимость и даты. Волновалась сильно. Оказалось зря. Доктор такой заботливый, сделали все быстро. Заживление две недели. Уже вижу результат. Спасибо большое."
    },
    {
        "author": "Анастасия Шагайская",
        "date": "19 февраля 2024 г.",
        "text": "Обратилась с пигментацией на лице. Долго искала доктора и грамотную консультацию. Доктор Васильева Ирина Игоревна очень внимательно отнеслась к моей проблеме. Было три сеанс фототерапии, сейчас делаем перерыв, результат потрясающий. Спасибо огромное. И кофе в Жемчужине очень вкусный."
    },
    {
        "author": "+7-916-87XXXXX",
        "date": "28 мая 2023 г.",
        "text": "Очень внимательное отношение к пациенту, знание своей области, не стремится навязать лишние для пациента процедуры, качество выполнение работы на высоком уровне, рекомендации оказались правильными и полезными. Я обращалась к врачу-косметологу с целью подбора процедур для ухода за лицом и телом. Лечащий врач: Васильева И. И."
    },
    {
        "author": "+7-926-25XXXXX",
        "date": "25 мая 2023 г.",
        "text": "Чистота, отношение, расположение, дружелюбный персонал. Самый лучший врач-косметолог. Своё лицо доверяю только ей уже много лет. Всегда подбирает нужные процедуры и проводит тщательный уход. Очень рекомендую! Лечащий врач: Беломыльцева И. И."
    },
    {
        "author": "Екатерина С.",
        "date": "13 марта 2023 г.",
        "text": "Была на процедуре у Чижовой Александры Николаевны впервые, и она превзошла все мои ожидания, консультация была подробная и даже были выявлены другие проблемы не относящиеся к косметологии, так же она дала много рекомендаций. Очень грамотный и приятный в общении специалист. В самом центре косметологии очень уютно и царит дружелюбная и положительная атмосфера."
    },
    {
        "author": "Ирина Ромашка",
        "date": "20 января 2023 г.",
        "text": "Очень вежливый персонал. Специалисты квалифицированные. Хожу к Александре Николаевне Чижовой, была уже несколько раз, на пилингах и на инъекциях. Александра Николаевна всегда всё подробно объясняет, разжевывает все, что непонятно до любых мелочей, все разъяснит, любые вопросы всегда с радостью раскроет. Процедуры проводит качественно и приятно. Когда обратилась впервые (с процедурой для ребенка) посоветовали не начинать процедуру, не тратить деньги, а обратиться позже, что сразу вызвало доверие. Каждое помещение в радость и не переживаю за кошелек, не разведут"
    },
    {
        "author": "Ольга Другова",
        "date": "5 января 2023 г.",
        "text": "При посещении складывается такое впечатление, что ты единственный клиент заведения) Столько внимания уделяется, такие подробные даются разъяснения, что хочется приходить сюда снова и снова! Чистота и обходительность здесь на высоком уровне) Спасибо Ирине Игоревне Васильевой, благодаря ей ничего не страшно!"
    },
    {
        "author": "+7-977-80XXXXX",
        "date": "7 декабря 2022 г.",
        "text": "Удивительный врач. Очень подробно и понятно рассказывает и объясняет. Уровень профессионализма восхищает. Раньше со мной такого врача не случалось. И в тоже время нет навязывания. Легко. Нежные руки, аккуратные движения. Я получила эстетическое удовольствие от общения и прекрасный уход по лицу. Лечащий врач: Чижова А. Н."
    },
    {
        "author": "+7-985-30XXXXX",
        "date": "28 ноября 2022 г.",
        "text": "Удаление прошло практически безболезненно (нужно было чуть потерпеть обезболивающий укол). Никаких швов и перевязок! Ранку даже не заклеивали пластырем. После удаления нужно было выполнить несколько обязательных, но несложных рекомендаций. После заживления практически не осталось и следа. Жалею только о том, что не пришла к Александре Николаевне раньше! Спасибо доктору за внимательность, тактичность и профессионализм! Давно хотела удалить новообразование на коже, но долго не решалась, так как боялась, что останется шрам или ямочка в месте удаления. Александра Николаевна Чижова была не первым дерматологом, к которому я обращалась с этим вопросом, но она стала тем доктором, после посещения которого я решилась на процедуру. Анна Николаевна внимательно осмотрела меня, подробно рассказала о всех возможных способах удаления (в том числе и хирургическом), обо всех \"за\" и \"против\" каждого, ответила на все мои многочисленные вопросы."
    },
    {
        "author": "Елена Назарова",
        "date": "8 ноября 2022 г.",
        "text": "Посещаю Жемчужину уже несколько лет. Ценю высокий профессиональный уровень сотрудников, качество препаратов, используемых в работе. Не могу не отметить чистоту и приятный интерьер заведения."
    },
    {
        "author": "+7-903-57XXXXX",
        "date": "4 ноября 2022 г.",
        "text": "К Александре Николаевне я обратилась впервые в 2018 году с проблемой акне. На первичном приеме Александра Николаевна подробно расспросила меня о жалобах, периодичности и степени интенсивности высыпаний, образе жизни и пищевых предпочтениях, внимательно изучила состояние кожи, назначила анализы, дала рекомендации по корректировке питания. По результатам анализов Александра Николаевна назначила прием препаратов и процедуры, дала рекомендации по обращению к специалистам других специальностей для комплексного решения проблемы акне. Александра Николаевна всегда подробно объясняет цель приема препарата / итоговый эффект от процедуры, предварительно описывает протокол процедуры, ощущения во время нее, уточняет мое самочувствие до проведения процедуры. Во время лечения Александра Николаевна всегда со мной на связи: пишет/звонит сама, я в любое время могу написать/позвонить, прислать фото, задать вопрос. Выполнение всех назначений принесло результат в лечении акне. В настоящее время я регулярно посещаю Александру Николаевну для проведения процедур. Александра Николаевна - профессионал своего дела, постоянно повышающий свой профессиональный уровень. Приятный в общении человек, всегда внимательна и отзывчива. В работе применяет современные методики и индивидуальный подход к пациенту."
    },
    {
        "author": "+7-916-05XXXXX",
        "date": "11 июня 2022 г.",
        "text": "Первый раз я обратилась к Александре Николаевне 2 года назад по поводу возрастных изменений. С тех пор я постоянный клиент. Александра Николаевна - человек, влюблённый в свою профессию. Всегда встречает с улыбкой, неторопливо всё расскажет и объяснит о каждой процедуре, посоветует что можно сделать в данной ситуации, предложит варианты и разъяснит что и как будет лучше. Последний раз я делала подтяжку нитями Аптос визаж. Процедура прошла безболезненно, а эффект просто ВАУ! Разгладились носогубные складки и избавилась от брылей. Александра Николаевна - волшебница. Результатом радовалась вместе со мной. Ещё, по совету Александры Николаевны, установили нити Аптос вокруг губ от кисетных морщин. Морщинки разгладились и стал более чёткий контур губ. Я довольна! Всем рекомендую этого врача. Александра Николаевна расскажет как и поможет продлить молодость. А ещё это позитивное настроение просто от общения с ней."
    },
    {
        "author": "Татьяна Алексеевна",
        "date": "8 июня 2022 г.",
        "text": "Много лет знаю Ольгу Николаевну, очень рада за те изменения и движение вперед! Очень благодарна коллективу центра за поддержку, лечение и добрые улыбки! Всего самого наилучшего Вам!!!"
    },
    {
        "author": "Наталья",
        "date": "4 июня 2022 г.",
        "text": "Внимательное отношение, индивидуальный подход поднимает настроение и делает незабываемым посещение салона «Жемчужина» Спасибо за красоту! Всему персоналу здоровья, счастья и любви!"
    },
    {
        "author": "Светлана",
        "date": "3 мая 2022 г.",
        "text": "Вот уже много много лет пользуюсь услугами косметологии, которую Вы предоставляете. СПАСИБО, что ВЫ есть!!! Приятно, что Вы в постоянном поиске новых технологий, в развитии, что делает нас все лучше и моложе. Я Вас люблю и от всего сердца желаю здоровья, богатства и быть всегда востребованными!!!"
    },
    {
        "author": "Татьяна",
        "date": "2 мая 2022 г.",
        "text": "Хочу написать немного слов о Денисе: Талантливый молодой человек – прекрасный массажист, у которого золотые руки и замечательная техника массажа! Он мне здорово помог!"
    },
    {
        "author": "Лидия",
        "date": "13 апреля 2022 г.",
        "text": "Мои дорогие! Так держать! Желаю Вам процветать в работе, здоровья Вам и Вашим близким. Я Вас люблю за теплоту отношения! Удачи!!! Вы профессионалы с большой буквы!"
    },
    {
        "author": "Татьяна",
        "date": "12 апреля 2022 г.",
        "text": "Хочу поблагодарить Ольгу Николаевну и Ирину за чуткое отношение, профессионализм! Желаю удачи, процветания, хороших клиентов!"
    },
    {
        "author": "Альбина",
        "date": "4 апреля 2022 г.",
        "text": "Прекрасное обслуживание! Желаю центру дальнейшего процветания и побольше клиентов! СПАСИБО!!!"
    },
    {
        "author": "+7-985-66XXXXX",
        "date": "31 марта 2022 г.",
        "text": "Александра Николаевна очень внимательный специалист, грамотный и современный. Была на приеме не один раз и теперь только к ней. Все процедуры объясняет, советует, делает всё не больно. Очень приятная и грамотная. Так и хочется постоянно ходить на какие-либо процедуры именно к ней."
    },
    {
        "author": "Ольга",
        "date": "26 марта 2022 г.",
        "text": "С большим удовольствием посещаю ваш центр. Желаю Вам дальнейшего развития и процветания!!!"
    },
    {
        "author": "Елена",
        "date": "26 марта 2022 г.",
        "text": "Всегда с удовольствием посещаю ваш центр, чтобы зарядиться положительными эмоциями не только от процедуры, но и от качества обслуживания высокопрофессионального персонала!"
    },
    {
        "author": "Светлана",
        "date": "25 марта 2022 г.",
        "text": "Ощущения после косметических процедур – восхитительные! Молодость, красота и легкость! Руками Оленьки водит Бог!!! Желаю вам Дальнейшей щедрости в создании красивых лиц!"
    },
    {
        "author": "Наталья",
        "date": "17 марта 2022 г.",
        "text": "Одна из лучших компаний в области косметологии. Европейский уровень качества обслуживания и отличный коллектив! Браво!!!"
    },
    {
        "author": "Алла",
        "date": "20 февраля 2022 г.",
        "text": "Необычайно теплый салон, где ощущаешь заботу и восхищаешься профессионализмом. Самое главное довериться специалистам!"
    },
    {
        "author": "Ирина Сергеевна",
        "date": "11 февраля 2022 г.",
        "text": "Очень много новинок и технических, и косметических. Хорошие внимательные специалисты. Знакомства с разными передовыми косметическими фирмами, линиями. Возможность получить процедуры в соответствии со своим бюджетом (что не мало важно). Замечательный уход и для лица, и для тела. СПАСИБО!"
    },
    {
        "author": "Оксана",
        "date": "9 февраля 2022 г.",
        "text": "Огромная благодарность персоналу ЦЭК «Жемчужины» и руководству за высокий уровень профессионализма и индивидуальный подход к клиентам!!! Крепкого Вам здоровья и процветания!"
    },
    {
        "author": "Наталья",
        "date": "26 декабря 2021 г.",
        "text": "Первое посещение вашего центра произошло в 3-летний юбилей. Работа косметолога Беломыльцевой Ирины произвела огромное впечатление. Это мастер с большой буквы. Было очень приятно на процедуре, а также увидеть результат в зеркале. Очень хочется прийти снова!"
    },
    {
        "author": "Оксана",
        "date": "17 декабря 2021 г.",
        "text": "Образцово показательный салон! Удивительно комфортная и доброжелательная атмосфера, профессионалы высочайшего уровня, впечатляющий спектр эстетических методик! Удачи и дальнейшего процветания!"
    },
    {
        "author": "Лада",
        "date": "17 октября 2021 г.",
        "text": "Спасибо за индивидуальное отношение к каждому клиенту, опыт и профессионализм, за помощь в выборе программы ухода и качественном ее исполнении. За приятную атмосферу и шикарных специалистов!"
    },
    {
        "author": "Юлия",
        "date": "14 октября 2021 г.",
        "text": "Совсем недавно начала посещать Вашего косметолога и теперь не могу остановиться! Все очень нравится, и отношение, и обстановка! Тихо, спокойно и красиво у Вас. Желаю дальнейшего процветания!"
    },
    {
        "author": "Наталья Ивановна",
        "date": "18 сентября 2021 г.",
        "text": "Большое спасибо коллективу «Жемчужины» за их дар делать женщин красивыми! Высокий профессионализм всех сотрудников, их внимание к клиентам, хочется сказать большое СПАСИБО!!! Здоровья, успехов, счастья!"
    }
];

const months: Record<string, string> = {
    "января": "01", "февраля": "02", "марта": "03", "апреля": "04", "мая": "05", "июня": "06",
    "июля": "07", "августа": "08", "сентября": "09", "октября": "10", "ноября": "11", "декабря": "12"
};

const parseDate = (dateStr: string) => {
    const parts = dateStr.replace(" г.", "").split(" ");
    const day = parts[0].padStart(2, '0');
    const month = months[parts[1].toLowerCase()];
    const year = parts[2];
    return new Date(`${year}-${month}-${day}`).getTime();
};

const sortedReviews = [...reviews].sort((a, b) => parseDate(b.date) - parseDate(a.date));

const PER_PAGE = 4;
---

<section class="reviews flex flex-col lg:flex-row gap-6">
	<div class="reviews text-lg flex flex-col gap-6" id="reviews-section">
			<div class="btn-container">
				<button class="btn-link cursor-pointer px-6 py-2 rounded flex gap-2 items-center" type="button" id="sort-btn">
					По дате
					<svg width="13px" height="13px" class="svg-social svg-link">
						<use xlink:href="#arrow"></use>
					</svg>
				</button>
			</div>
			<div class="reviews-block">
				{sortedReviews.map((item, index) => (
					<article 
						class={`review flex flex-col gap-3 ${index >= PER_PAGE ? 'hidden' : ''}`} 
						data-review-item
					>
						<div class="review-header flex gap-6">
							<div class="flex-shrink-0">
								<svg width="41" height="40" class="svg-social svg-link">
									<use xlink:href="#noavatar"></use>
								</svg>
							</div>
							<div class="info">
								<time class="text-base opacity-60">{item.date}</time>
								<h3 class="text-xl font-semibold">{item.author}</h3>
								<p class="review-text">{item.text}</p>
							</div>
						</div>
					</article>
				))}
			</div>

		
			<div class="btn-container md:!ms-[64px]">
				{sortedReviews.length > PER_PAGE && (
				<button class="md:w-auto w-full btn-link cursor-pointer px-6 py-2 rounded" type="button" id="load-more-btn">
					Показать больше
				</button>)}
			</div>
		
	</div>
	<form class="card-elevated" method="post" action="">
		<div class="card-body !p-3 lg:!p-6 flex flex-col gap-4">
			<h4 class="text-center mb-6 text-2xl font-semibold" id="msg_first">Оставить отзыв!</h4>
			<p class="text-center mb-6" id="msg_second"></p>
			<div class="mb-5">
				<input type="text" name="fio" id="fio_field" class="form-control form_field" aria-describedby="nameHelp" placeholder="Имя" required="" maxlength="100" minlength="2">
				<div id="nameHelp" class="" name="fioHelp" style="display: none;">
					<ul name="ul" class="error-list" style="display: none;">
						<li class="error-item">Требуется заполнить это поле.</li>
					</ul>
				</div>
			</div>
			<div class="mb-5">
				<input type="email" name="email" id="email_field" class="form-control form_field" aria-describedby="emailHelp" placeholder="Email" required="" maxlength="50" minlength="5">
				<div id="emailHelp" class="" name="emailHelp" style="display: none;">
					<ul name="ul" class="error-list" style="display: none;">
						<li class="error-item">Требуется заполнить это поле.</li>
					</ul>
				</div>
			</div>
			<div class="mb-5">
				<input type="tel" name="phone" id="phone_field" class="form-control form_field" aria-describedby="telHelp" placeholder="Мобильный телефон" maxlength="50" minlength="11" required="">
				<div id="telHelp" class="" name="phoneHelp" style="display: none;">
					<ul name="ul" class="error-list" style="display: none;">
						<li class="error-item">Требуется заполнить это поле.</li>
					</ul>
				</div>
			</div>
			<div class="mb-5">
				<textarea name="text" cols="40" rows="10" id="text_field" class="form-control form_field" minlength="5" maxlength="50" aria-describedby="msgHelp" placeholder="Введите сообщение" required=""></textarea>
				<div id="msgHelp" class="" name="textHelp" style="display: none;">
					<ul name="ul" class="error-list" style="display: none;">
						<li class="error-item">Требуется заполнить это поле.</li>
					</ul>
				</div>
			</div>
			<div class="btn-container flex justify-center mt-4">
				<button class="btn-link cursor-pointer px-6 py-2 rounded w-100" type="submit" id="submit-btn">
					Отправить отзыв
				</button>
			</div>
		</div>
	</form>
</section>

<script is:inline define:vars={{ PER_PAGE }}>
    const btnLoadMore = document.getElementById('load-more-btn');
    const sortBtn = document.getElementById('sort-btn');
    const reviewForm = document.querySelector('.card-elevated');
    const submitBtn = document.getElementById('submit-btn');

    let currentCount = PER_PAGE;
    let isDescending = true;

    const getTimestamp = (el) => {
        const timeEl = el.querySelector('time');
        if (!timeEl) return 0;
        const months = {
            "января": "01", "февраля": "02", "марта": "03", "апреля": "04", "мая": "05", "июня": "06",
            "июля": "07", "августа": "08", "сентября": "09", "октября": "10", "ноября": "11", "декабря": "12"
        };
        const parts = timeEl.innerText.replace(/ г\.?$/, "").trim().split(/\s+/);
        if (parts.length < 3) return 0;
        return new Date(`${parts[2]}-${months[parts[1].toLowerCase()]}-${parts[0].padStart(2, '0')}`).getTime();
    };

    const updateVisibility = () => {
        const items = document.querySelectorAll('[data-review-item]');
        items.forEach((item, index) => {
            item.classList.toggle('hidden', index >= currentCount);
        });
        if (btnLoadMore) {
            btnLoadMore.parentElement.style.display = currentCount >= items.length ? 'none' : 'flex';
        }
    };

    if (btnLoadMore) {
        btnLoadMore.addEventListener('click', () => {
            currentCount += PER_PAGE;
            updateVisibility();
        });
    }

    if (sortBtn) {
        sortBtn.addEventListener('click', () => {
            const items = Array.from(document.querySelectorAll('[data-review-item]'));
            if (!items.length) return;
            const container = items[0].parentElement;
            isDescending = !isDescending;

            items.sort((a, b) => {
                const tA = getTimestamp(a), tB = getTimestamp(b);
                return isDescending ? tB - tA : tA - tB;
            }).forEach(el => container.appendChild(el));

            const arrow = sortBtn.querySelector('svg');
            if (arrow) arrow.style.transform = isDescending ? 'rotate(0deg)' : 'rotate(180deg)';

            currentCount = PER_PAGE;
            updateVisibility();
        });
    }

    if (submitBtn && reviewForm) {
        submitBtn.addEventListener('click', (e) => {
            e.preventDefault();
            const fields = reviewForm.querySelectorAll('.form_field');
            let isFormValid = true;

            fields.forEach(field => {
                const helpBlock = document.getElementById(field.getAttribute('aria-describedby'));
                const isValid = field.checkValidity();
                
                field.classList.toggle('is-invalid', !isValid);
                if (helpBlock) {
                    helpBlock.style.display = isValid ? 'none' : 'block';
                    helpBlock.querySelectorAll('ul[name="ul"]').forEach(ul => {
                        ul.style.display = isValid ? 'none' : 'block';
                        ul.style.listStyleType = 'disc';
                        ul.style.paddingLeft = '20px';
                    });
                }
                if (!isValid) isFormValid = false;
            });

            if (isFormValid && typeof send_views === 'function') {
                send_views();
            }
        });

        reviewForm.querySelectorAll('.form_field').forEach(field => {
            field.addEventListener('input', () => {
                if (field.checkValidity()) {
                    field.classList.remove('is-invalid');
                    const helpBlock = document.getElementById(field.getAttribute('aria-describedby'));
                    if (helpBlock) helpBlock.style.display = 'none';
                }
            });
        });
    }

    updateVisibility();
</script>

<style lang="scss">

	.form-control{
		padding: 12px 24px;
		border: 1px solid rgba(0, 0, 0, 0.6);
		border-radius: 0.25rem;
		width: 100%; 
        max-width: 100%; 
        display: block;
		&.is-invalid {
			border-color: red !important;
		}
		&:focus{
			outline: none !important;
            border-color: $primary !important;
		}
	}
    .hidden {
        display: none !important;
    }
    .review {
        border-bottom: 1px solid #eee;
        padding: 1rem 0;
        &:last-of-type {
            border-bottom: none;
        }
    }
	.card-body{
		border-radius: 0.5rem;
		box-shadow: 0 0.25rem 1rem rgba(0, 0, 0, 0.15);
	}
	.error-list{
		padding-left: 0.5rem;
	}
	.error-item{
		color: red;
		font-size: 0.75rem;
		list-style-type: disc;
	}
</style>